:root {
    interpolate-size: allow-keywords
}
html > body {
    display: grid;
    grid-template-rows: 4.25rem 1fr;
    height: 100dvh;
    width: 100%;
    margin: 0;
}
nav {
    --_nav-height: 3rem;
    display: grid !important;
    grid-template-columns: auto auto 1fr;
    height: var(--_nav-height) !important;
    padding: 0 !important;
    padding-inline: .5rem !important;
    box-sizing: border-box;
    > .menu {
        user-select: none;
        cursor: default;
    }
    > .tools {
        --_tools-pad: .0rem;
        display: grid;
        /* grid-template-columns: repeat(auto-fit, 100%); */
        grid-auto-flow: column;
        grid-auto-columns: auto;
        height: 100%;
        width: auto;
        padding-block: var(--_tools-pad);
        padding-left: 0;
        gap: .5rem;
        justify-content: start;
        box-sizing: border-box;
        overflow-x: scroll;
        overflow-y: hidden;
        > * {
            height: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 1.5);
            aspect-ratio: 1/1;
            align-self: center;
            align-content: center;
            border-radius: 100vh;
            font-size: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 2);
            text-align: center;
            user-select: none;
            cursor: default;
            /* &::before {
                content: "";
                display: flex;
                height: 100%;
                aspect-ratio: 1/1;
                background-color: #0FF;
            } */
            &.active {
                background-color: #7F7FFF;
            }
        }
        > div {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: auto;
            justify-content: start;
        }
        select {
            display: flex;
            min-height: 0 !important;
            height: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 2);
            font-size: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 3) !important;
            border: none !important;
            outline: none;
        }
        &::-webkit-scrollbar {
            height: .25rem;
            background-color: #CCC;
        }
        &::-webkit-scrollbar-thumb  { background-color: #888; }
        &::-webkit-scrollbar-button { display: none; }
        > .hidden {
            display: grid;
            position: fixed;
            min-height: 0 !important;
            height: 0 !important;
            min-width: 0 !important;
            width: 0 !important;
            overflow: hidden;
        }
    }
}
canvas {
    display: flex;
    height: calc(100dvh - 4.25rem) !important;
    width: 100% !important;
    box-sizing: border-box;
    background-color: #0FF;
    touch-action: none;
}
.node {
    --_color: attr(node-color type(*), #0FF);
    --_color-body: color-mix(var(--_color), #FFF 75%);
    --_border-radius: 2rem;
    --_easing-general: cubic-bezier(0.1, 0.5, 0, 1);
    --_easing-general: cubic-bezier(0.0, 0.4, 0.3, 1);
    --_captionHeight: 2rem;
    --_captionPaddingBlock: .5rem;
    display: grid;
    grid-template-rows: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock)) 0fr 0fr;
    /* min-height: calc(2 * var(--_border-radius));
    height: calc(var(--_border-radius) * 2); */
    min-width: calc(2 * var(--_border-radius));
    width: auto;
    container-type: normal;
    border: none;
    border-radius: var(--_border-radius);
    outline: none;
    background-color: var(--_color-body);
    box-shadow: none;
    overflow: hidden;
    user-select: none;
    transition:
        height 1s var(--_easing-general),
        width  1s var(--_easing-general),
        grid-template-rows 1s var(--_easing-general),
        background-color .5s ease-in-out,
        box-shadow       .5s ease-in-out;
    > .head {
        display: grid;
        /* min-height: calc(2 * var(--_border-radius));
        height: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock)); */
        padding: 1rem;
        padding-block: var(--_captionPaddingBlock);
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        background-color: var(--_color);
        text-wrap: nowrap;
        transition: background-color .5s ease-in-out;
        > p {
            display: flex;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            line-height: var(--_captionHeight);
            text-align: center;
        }
    }
    > .body {
        min-height: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: var(--_color-body);
        overflow: hidden;
        text-wrap: wrap;
        line-height: 1em;
        transition: background-color .5s ease-in-out,
                    padding .5s ease-in-out;
    }
    > .tools {
        display: grid;
        grid-template-columns: repeat(fit-content, 1fr);
        height: 1rem;
        width: 100%;
    }
    &.open {
        grid-template-rows: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock)) 1fr 0fr;
        box-shadow: 
        /*inset 0 1px 2px #FFFFFFB0,  /* Highlight */
        0 4px 6px  rgba(from var(--_color) r g b / .1),      /*   Dark   */
        0 6px 8px rgba(from var(--_color) r g b / .1);      /*   Soft   */; /*DOESNT WORK YET // BUG*/
        > .body {
            padding: 1rem
        }
    }
    &.open:focus-within {
        /* grid-template-rows: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock)) 1fr auto; */
    }
}



/*
.node {
    --_color: attr(node-color type(*), #0FF);
    --_border-radius: 2rem;
    --_easing-general: cubic-bezier(0.1, 0.5, 0, 1);
    --_captionHeight: 2rem;
    --_captionPaddingBlock: .5rem;
    display: grid;
    grid-template-rows: auto 0fr;
    min-height: calc(2 * var(--_border-radius));
    /* height: calc(var(--_border-radius) * 2); *//*
    min-width: calc(2 * var(--_border-radius));
    width: auto;
    container-type: normal;
    border: none;
    border-radius: var(--_border-radius);
    outline: none;
    background-color: #F0F;
    box-shadow: none;
    overflow: hidden;
    user-select: none;
    transition:
        grid-template-rows 1s var(--_easing-general),
        background-color .5s ease-in-out,
        box-shadow       .5s ease-in-out;
    > div {
        height: 100%;
        width: 100%;
        padding: calc(1rem);
        box-sizing: border-box;
        transition:
            background-color .5s ease-in-out;
    }
    > .head {
        display: grid;
        /* height: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock)); *//*
        padding-block: var(--_captionPaddingBlock);
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        background-color: var(--_color);
        > p {
            display: flex;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            line-height: var(--_captionHeight);
            text-align: center;
        }
    }
    > .body {
        min-height: 0;
        overflow: hidden;
        background-color: color-mix(var(--_color), #FFF 75%);
    }
    &.open {
        grid-template-rows: auto 1fr;
        box-shadow: 
        /*inset 0 1px 2px #FFFFFFB0,  /* Highlight */
        /*0 4px 6px  rgba(from var(--_color) r g b / .1),      /*   Dark   */
        /*0 6px 8px rgba(from var(--_color) r g b / .1);      /*   Soft   */; /*DOESNT WORK YET // BUG*//*
    }
}*/


/*
.node {
    --_color: attr(node-color type(*), #0FF);
    --_border-radius: 2rem;
    --_easing-general: cubic-bezier(0.1, 0.5, 0, 1);
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: calc(2 * var(--_border-radius));
    height: calc(border-radius * 2);
    min-width: calc(2 * var(--_border-radius));
    width: auto;
    border: none;
    border-radius: var(--_border-radius);
    outline: none;
    background-color: #F0F;
    box-shadow: none;
    overflow: hidden;
    transition:
        height 1s var(--_easing-general) allow-discrete,
        width  1s var(--_easing-general) allow-discrete,
        background-color .5s ease-in-out,
        box-shadow       .5s ease-in-out;
    > div {
        height: 100%;
        width: 100%;
        padding: calc(1rem);
        box-sizing: border-box;
        transition: 
            background-color .5s ease-in-out;
    }
    > .head {
        --_captionHeight: 2rem;
        --_captionPaddingBlock: .5rem;
        display: grid;
        height: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock));
        padding-block: var(--_captionPaddingBlock);
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        background-color: var(--_color);
        > p {
            display: flex;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            line-height: var(--_captionHeight);
            text-align: center;
        }
    }
    > .body {
        display: grid;
        min-height: 0;
        height: 0;
        background-color: color-mix(var(--_color), #FFF 75%);
    }
    &.open {
        box-shadow: 
        
        0 4px 6px  rgba(from var(--_color) r g b / .1),      
        0 6px 8px rgba(from var(--_color) r g b / .1);      
        > .head {
            height: auto;
        }
        > .body {
            height: auto;
        }
    }
}
*/