:root {
    interpolate-size: allow-keywords
}
html > body {
    display: grid;
    grid-template-rows: 4.25rem 1fr;
    height: 100dvh;
    width: 100%;
    margin: 0;
}
body > nav:has(+ .map-canvas) {
    --_nav-height: 3rem;
    display: grid !important;
    grid-template-columns: auto auto 1fr;
    height: var(--_nav-height) !important;
    padding: 0 !important;
    padding-inline: .5rem !important;
    box-sizing: border-box;
    > .menu {
        user-select: none;
        cursor: default;
    }
    > .tools {
        --_tools-pad: .0rem;
        display: grid;
        /* grid-template-columns: repeat(auto-fit, 100%); */
        grid-auto-flow: column;
        grid-auto-columns: auto;
        height: 100%;
        width: auto;
        padding-block: var(--_tools-pad);
        padding-left: 0;
        gap: .5rem;
        justify-content: start;
        box-sizing: border-box;
        overflow-x: scroll;
        overflow-y: hidden;
        > * {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: auto;
            height: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 1.5);
            aspect-ratio: 1/1;
            align-self: center;
            align-content: center;
            border-radius: 100vh;
            font-size: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 2);
            text-align: center;
            user-select: none;
            cursor: default;
            /* &::before {
                content: "";
                display: flex;
                height: 100%;
                aspect-ratio: 1/1;
                background-color: #0FF;
            } */
            &.active {
                background-color: #7F7FFF;
            }
            > .drop-down-arrow {
                display: grid;
                height: 1rem;
                align-self: center;
                align-content: center;
                font-size: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 2);
                color: #000;
                transform: rotate(90deg);
            }
        }
        > div {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: auto;
            justify-content: start;
        }
        select {
            display: flex;
            min-height: 0 !important;
            height: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 2);
            font-size: calc((var(--_nav-height) - 2 * var(--_tools-pad)) / 3) !important;
            border: none !important;
            outline: none;
        }
        &::-webkit-scrollbar {
            height: .25rem;
            background-color: #CCC;
        }
        &::-webkit-scrollbar-thumb  { background-color: #888; }
        &::-webkit-scrollbar-button { display: none; }
        > .hidden {
            display: grid;
            position: fixed;
            min-height: 0;
            height: 0;
            min-width: 0;
            width: 0;
            overflow: hidden;
        }
    }
}
body > .map-canvas {
    display: flex;
    height: calc(100dvh - 4.25rem);
    width: 100%;
    box-sizing: border-box;
    touch-action: none;
}
.node {
    --_color: attr(node-color type(*), #0FF);
    --_color-body: color-mix(var(--_color), #FFF 75%);
    --_border-radius: 2rem;
    --_easing-general: cubic-bezier(0.1, 0.5, 0, 1);
    --_easing-general: cubic-bezier(0.0, 0.4, 0.3, 1);
    --_captionHeight: 2rem;
    --_captionPaddingBlock: .5rem;
    display: grid;
    grid-template-rows: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock)) 0fr 0fr;
    /* min-height: calc(2 * var(--_border-radius));
    height: calc(var(--_border-radius) * 2); */
    min-width: calc(2 * var(--_border-radius));
    width: auto;
    container-type: normal;
    border: none;
    border-radius: var(--_border-radius);
    outline: none;
    background-color: var(--_color-body);
    box-shadow: none;
    overflow: hidden;
    user-select: none;
    transition:
        height 1s var(--_easing-general),
        width  1s var(--_easing-general),
        grid-template-rows 1s var(--_easing-general),
        background-color .5s ease-in-out,
        box-shadow       .5s ease-in-out;
    > .head {
        display: grid;
        /* min-height: calc(2 * var(--_border-radius));
        height: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock)); */
        padding: 1rem;
        padding-block: var(--_captionPaddingBlock);
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        background-color: var(--_color);
        text-wrap: nowrap;
        transition: background-color .5s ease-in-out;
        > p {
            display: flex;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            line-height: var(--_captionHeight);
            text-align: center;
        }
    }
    > .body {
        min-height: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: var(--_color-body);
        overflow: hidden;
        text-wrap: wrap;
        line-height: 1em;
        transition: background-color .5s ease-in-out,
                    padding .5s ease-in-out;
        .heading, .heading * {
            font-size: inherit;
            line-height: inherit;
        }
        .font, .font * {
            font-family: attr(fSrc type(<string>), inherit);
        }
        .color[type="background"] { background-color: attr(col type(<color>), transparent); }
        .color:not([type="background"]) { color: attr(col type(<color>), inherit); }
        .align { text-align: attr(aType type(<custom-ident>), left); }
    }
    > .tools {
        display: grid;
        grid-template-columns: repeat(fit-content, 1fr);
        height: 1rem;
        width: 100%;
    }
    &.open {
        grid-template-rows: calc(var(--_captionHeight) + 2 * var(--_captionPaddingBlock)) 1fr 0fr;
        box-shadow: 
        /*inset 0 1px 2px #FFFFFFB0,  /* Highlight */
        0 4px 6px  rgba(from var(--_color) r g b / .1),      /*   Dark   */
        0 6px 8px rgba(from var(--_color) r g b / .1);      /*   Soft   */; /*DOESNT WORK YET // BUG*/
        > .body {
            padding: 1rem
        }
    }
}

body .map-canvas > .node > .body {
    font-size: 1rem;
    line-height: 1.5rem;
    * {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    p.heading {
        &[hSize="0"] { font-size: 2.5rem; line-height: 3rem; }
        &[hSize="1"] { font-size: 2rem; line-height: 2.5rem; }
        &[hSize="2"] { font-size: 1.75rem; line-height: 2.25rem; }
        &[hSize="3"] { font-size: 1.5rem; line-height: 2rem; }
        &[hSize="4"] { font-size: 1.25rem; line-height: 1.75rem; }
        &[hSize="5"] { font-size: 1.125rem; line-height: 1.625rem; }
        &[hSize="6"] { font-size: 1rem; line-height: 1.5rem; }
        &[hSize="7"] { font-size: .875rem; line-height: 1.375rem; }
        &[hSize="8"] { font-size: .75rem; line-height: 1.25rem; }
        &[hSize="9"] { font-size: .625rem; line-height: 1.125rem; }
    }
}